@import "./variables.scss";

html, body {
  height: 100%;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background: $primary-color-variant-2;
  display: flex;
  justify-content: center;
}

.header-text {
  font-family: 'Abhaya Libre';
  font-size: 13px;
  margin-top: 9px;
  text-transform: uppercase;
  font-weight: 700;
}

.footer {
  background: url("../assets/Union.svg");
  background-repeat: no-repeat;
  background-size: cover;
  // position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-title, .footer-text {
  text-align: center;
}

.footer-title {
  font-family: 'Abhaya Libre';
  font-size: 34px;
  font-weight: 700;
  width: 567px;
  margin-bottom: 0px;
}

.footer-text {
  font-family: 'Filson Pro';
  font-size: 15px;
  font-weight: 350;
  color: $text-secondary;
  max-width: 340px;
  margin-bottom: 30px;
}

.footer-subs {
  display: flex;
  column-gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 5px;
  width: 100%;
}

.subs-input, .subs-btn {
  border-radius: 20px;
  padding: 10px;
}

.subs-input {
  border: 2px solid $primary-color;
  width: 50%;
}

.subs-btn {
  min-width: 80px;
  background-color: $primary-color;
  border: none;
  color: white;

  &:hover {
    cursor: pointer;
  }
}

// Main content
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 50px;
  margin-bottom: 70px;
}

// Main header
.main-header {
  display: flex;
}

.main-header-title-content, .main-list-actions {
  flex-grow: 1;
}

.main-header-title-content {
  display: flex;
  justify-content: center;
}

.main-header-title {
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    font-size: 34px;
    font-weight: 700;
    font-family: 'Abhaya Libre';
    margin: 0;
  }
}

.main-list-actions {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: 8px;
}

.list-action-content {
  width: 50px;
  height: 14px;
  border-radius: 100px;
  background-color: $primary-color-variant-2;
  position: relative;
  box-shadow: 3px 3px 15px 1px #c4c3c3;

  &:hover {
    cursor: pointer;
  }

  .list-action-icon {
    $size: 20px;
    width: $size;
    height: $size;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: $size + 2px;
    padding: 0;
    margin: 0;
    color: white;
    background-color: black;
    display: flex;
  }
}

// Main list
.main-products-list {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  padding: 0 15px;
  column-gap: 16px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.products-item-container {
  flex-shrink: 0;
  width: 230px;
}

.products-item-content {
  $item-width: 230px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;

  &.variant-1 {
    height: $item-width;
  }

  &.variant-2 {
    // $size-height: $item-width + 98px;
    height: $item-width + 98px;
    // height: $size-height;
  }
}

.products-item-btn {
  margin: 20px 10px;
  border-radius: 100px;
  border: none;
  color: $primary-color;
  background-color: white;
  padding: 12px 32px 12px 40px;
  font-family: 'Neogrotesk Ess';
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}

.products-item-name {
  font-family: 'Filson Pro';
  font-size: 15px;
  font-weight: 700;
  word-wrap: break-word;
}

.products-item-description {
  display: flex;
  justify-content: space-between;
}

.products-item-content,
.products-item-rating,
.products-item-price,
.products-item-stars-content {
  font-size: 13px;
}

.products-item-stars-content {
  color: #FFC658;
}

.products-item-rating {
  color: $text-secondary;
}

.products-item-price {
  font-family: 'Filson Pro';
  font-weight: 500;

  &.min-price {
    color: $text-secondary;
    text-decoration: line-through;
  }
}

// Main actions
.main-actions {
  display: flex;
  justify-content: center;
}

.all-products-btn {
  width: 237px;
  border-radius: 100px;
  padding: 12px 32px;
  border: none;
  background-color: $primary-color;
  color: white;
  text-transform: uppercase;
}