.main-header {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}

.main-header-title-content, .main-list-actions {
  flex-grow: 1;
}

.main-header-title-content {
  display: flex;
  justify-content: center;
}

.main-header-title {
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 335px;

  p {
    font-size: 34px;
    font-weight: 700;
    font-family: 'Abhaya Libre';
    margin: 0;
  }

  @include small {
    p {
      font-size: 28px;
    }
  }
}

.main-list-actions {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: 8px;
}

.list-action-content {
  width: 60px;
  height: 15px;
  border-radius: 100px;
  background-color: $primary-color-variant-2;
  position: relative;
  box-shadow: 3px 3px 15px 1px #c4c3c3;

  &:hover {
    cursor: pointer;
  }

  .list-action-icon {
    $size: 25px;
    width: $size;
    height: $size;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: $size + 2px;
    padding: 0;
    margin: 0;
    color: white;
    background-color: black;
    display: flex;
  }
}