$product-item-size: 280px;
$product-item-small-size: 200px;
$product-item-medium-size: 250px;

.main-products-list {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  padding: 0 15px;
  column-gap: 16px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.products-item-container {
  flex-shrink: 0;
  width: $product-item-size;

  @include medium {
    width: $product-item-medium-size;
  }

  @include small {
    width: $product-item-small-size;
  }
}

.products-item-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;

  &.variant-1 {
    height: $product-item-size;
  }

  &.variant-2 {
    height: $product-item-size + 98px;
  }

  @include medium {
    &.variant-1,
    &.variant-2 {
      width: $product-item-medium-size;
    }

    &.variant-1 {
      height: $product-item-medium-size;
    }

    &.variant-2 {
      height: $product-item-medium-size + 50px;
    }
  }

  @include small {
    &.variant-1,
    &.variant-2 {
      width: $product-item-small-size;
      height: $product-item-small-size;
    }
  }
}

.products-item-btn {
  margin: 20px 10px;
  border-radius: 100px;
  border: none;
  color: $primary-color;
  background-color: white;
  padding: 12px 32px 12px 40px;
  font-family: 'Neogrotesk Ess';
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}

.products-item-name {
  font-family: 'Filson Pro';
  font-size: 15px;
  font-weight: 700;
  word-wrap: break-word;
}

.products-item-description {
  display: flex;
  justify-content: space-between;

  @include small {
    flex-direction: column;
  }
}

.products-item-content,
.products-item-rating,
.products-item-price,
.products-item-stars-content {
  font-size: 13px;
}

.products-item-stars-content {
  color: #FFC658;
}

.products-item-rating {
  color: $text-secondary;
}

.products-item-price {
  font-family: 'Filson Pro';
  font-weight: 500;

  &.min-price {
    color: $text-secondary;
    text-decoration: line-through;
  }
}