<div class="products-item-content">
  <button class="products-item-btn"></button>
</div>

<div class="products-item-footer">
  <p class="products-item-name"></p>
  <div class="products-item-description">
    <div class="products-item-rating-content">
      <span class="products-item-stars-content"></span>
      <span class="products-item-rating"></span>
    </div>
    <div class="products-item-price-content">
      <span class="products-item-price min-price"></span>
      <span class="products-item-price max-price"></span>
    </div>
  </div>
</div>